[submodule "packages/eip-2-document-bundle/lib/openzeppelin-contracts"]
	path = packages/eip-2-document-bundle/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/eip-1-asset-registry/lib/openzeppelin-contracts"]
	path = packages/eip-1-asset-registry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/eip-5-impact-snapshot/lib/openzeppelin-contracts"]
	path = packages/eip-5-impact-snapshot/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/eip-5-impact-snapshot/lib/forge-std"]
	path = packages/eip-5-impact-snapshot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/eip-4-compliance-event/lib/forge-std"]
	path = packages/eip-4-compliance-event/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
