[submodule "packages/eip-3-document-bundle/lib/openzeppelin-contracts"]
	path = packages/eip-3-document-bundle/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
