[submodule "packages/erc-document-bundle-anchor/lib/openzeppelin-contracts"]
	path = packages/erc-document-bundle-anchor/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/erc-asset-registry/lib/openzeppelin-contracts"]
	path = packages/erc-asset-registry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/erc-transfer-domain/lib/openzeppelin-contracts"]
	path = packages/erc-transfer-domain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/erc-impact-snapshot/lib/openzeppelin-contracts"]
	path = packages/erc-impact-snapshot/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/erc-impact-snapshot/lib/forge-std"]
	path = packages/erc-impact-snapshot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/erc-compliance-event-log/lib/forge-std"]
	path = packages/erc-compliance-event-log/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
